<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UploadToDatabase</servlet-name>
  	<display-name>UploadToDatabase</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UploadToDatabase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadFileServlet</servlet-name>
  	<display-name>UploadFileServlet</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DataUpdateController</servlet-name>
  	<display-name>DataUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.DataUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateResumeOtherController</servlet-name>
  	<display-name>UpdateResumeOtherController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UpdateResumeOtherController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileDownloadController</servlet-name>
  	<display-name>FileDownloadController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.FileDownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadToDatabase</servlet-name>
  	<url-pattern>/UploadToDatabase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadFileServlet</servlet-name>
  	<url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataUpdateController</servlet-name>
  	<url-pattern>/DataUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateResumeOtherController</servlet-name>
  	<url-pattern>/UpdateResumeOtherController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileDownloadController</servlet-name>
  	<url-pattern>/FileDownloadController</url-pattern>
  </servlet-mapping>
  <session-config>
<session-timeout>
30
</session-timeout>
</session-config>
</web-app>
